.text-and-image {
    display: flex;
}

.text-and-image-text {
    width: 65%;
}
.text-and-image .text-right * {
    text-align: right;
}

.text-and-image-image {
    width: 35%;
}

@media screen and (max-width: 900px){
    .text-and-image {
        flex-direction: column;
    }
    
    .text-and-image-image {
        padding-block: 32px;
        order: 1;
        width: 100%;
    }
    .text-and-image-text {
        order: 0;
        width: 100%;
    }
}