.title-with-banner-container {
  display: flex;
  align-items: center;
  gap: 36px;
}

.title-with-banner-button * {
    height: 100%;
}

@media screen and (max-width: 600px) {
  .title-with-banner-container {
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    width: fit-content;
  }
}
