.jumping-button {
    background-color: var(--button-color);
    width: 100%;
    padding: 10px;

    border: none;
    border-radius: 10px;

    animation: jump 3s forwards;
}

@keyframes jump {
    0% { scale: 0; opacity: 0;}
    15% { rotate: -5deg }
    30% { rotate: 5deg }
    45% { rotate: -4deg }
    60% { rotate: 0deg }
}