@use "../../DevelopPage.module" as *
@use "styles/variables/classes" as *

.projects
    display: flex
    width: fit-content
    margin: auto
    flex-flow: column nowrap
    align-items: center
    padding-block: 62px
    gap: 30px

    img
        height: fit-content

    h2
        position: relative
        &::after 
            @extend .small-underline
            background-color: var(--background-color)
            background-blend-mode: multiply(200%)
            width: 35%
            height: 3px
            bottom: -5px
    
    .disclaimer
        color: var(--disclaimer-color-inversion)
        background-color: var(--disclaimer-background-inversion)
        border-color: var(--disclaimer-border-inversion)
        text-align: center
        width: 97%
        margin-inline: 10px

        @media screen and ( min-width: 1300px  )
            text-align: center