.glow {
  animation: glow 12s infinite;
}

@keyframes glow {
    0% {
      box-shadow: blue 0 0 100px 12px, blue 0 0 20px 3px, blue 0 0 20px;
    }
    15% {
      box-shadow: rgb(255, 200, 0) 0 0 100px 12px, rgb(255, 200, 0) 0 0 20px 3px,
        rgb(255, 200, 0) 0 0 20px;
    }
    20% {
      box-shadow: rgb(100, 200, 43) 0 0 100px 12px, rgb(100, 200, 43) 0 0 20px 3px,
        rgb(100, 200, 43) 0 0 20px;
    }
    60% {
      box-shadow: rgb(105, 200, 162) 0 0 100px 12px, rgb(105, 200, 162) 0 0 20px 3px,
        rgb(105, 200, 162) 0 0 20px;
    }
    80% {
      box-shadow: rgb(255, 0, 247) 0 0 100px 12px, rgb(255, 0, 247) 0 0 20px 3px,
        rgb(255, 0, 247) 0 0 20px;
    }
    100% {
      box-shadow: blue 0 0 100px 12px,
        blue 0 0 20px 3px, blue 0 0 20px;
    }
  }
  