.features-buttons-demo {
    display: flex;
}

.features-buttons-demo .button {
    width: 200px;
    min-height: 80px;
    padding: 20px 40px;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 900px) {
    .features-buttons-demo .button {
        width: 40vw;
    }
}
@media screen and (max-width: 400px) {
    .features-buttons-demo .button {
        width: 80vw;
    }
}