/* HEADER */

.menu {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;

  position: sticky;
  top: 0;
  z-index: 1;

  color: white;
  background-color: black;

  padding: 10px;
}

.menu-option {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.menu-option:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.active {
  color: var(--main-color);
}

/* FOOTER */
.footer {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 10px;

  width: 100%;
  padding: 2rem;
  background-color: black;

  color: white;
  font-size: 1rem;
}

.footer-credits-a {
  color: var(--main-color);
  letter-spacing: .1rem;
  z-index: 1;
  font-weight: 600;
}

.span-glow {
  bottom: 10px;
  right: 0;
  margin-left: 100px;
  width: 97px;
  height: 0px;
}

.footer-credits a:hover {
  color: rgb(255, 166, 0);
}

@media only screen and (max-width: 750px) {
  .footer {
    text-align: center;
    flex-flow: column;
  }
}