.main {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  position: relative;

  text-align: center;
}

.main-right-side {
  max-width: 900px;
  padding: 0 clamp(10px, 9vw, 200px);
}

.main-title {
  margin-top: 40px;

  font-size: clamp(1.5rem, 10vw, 5rem);
  text-transform: uppercase;
}

.main-subtitle {
  font-size: clamp(0.9rem, 4vw, 1.9rem);
  margin: 0 0 16px 0;
}

.show-form-button {
  background-color: black;
  color: white;
  padding: 10px;
}

@media only screen and (max-width: 1300px) {
  .main {
    align-items: center;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .main .cover {
    order: -1;
    width: 700px;
    height: 200px;
    position: relative;
    top: 32px;

    background: url(/mobile-cover.jpg);
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
  }

  .main .cover span,
  .main .cover img {
    display: none !important;
  }

  .main .spacer {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .main .cover {
    width: 100%;
    height: 30vw;

    background-size: 100%;
    background-position: 40% 30%;
    background-repeat: no-repeat;
  }
}
