.projects-page-title {
  font-size: clamp(2.3rem, 10vw, 4rem);
}

.project{
  max-width: 1000px;
}

.project-left{
  max-width: 800px;
}

.project-title {
  font-size: clamp(1.3rem, 5vw, 2rem);
}

.project-links{
  justify-content: center;
  color: var(--highlight);
  font-weight: 600;
}

.project-links li:hover {
  color: var(--weak-highlight);
}

.project-image {
  background-color: rgb(255, 0, 217, 0.08);
  margin: 10px;
  width: clamp(270px, 90vw, 500px);
  padding: 10px;
}

.project img {
  object-fit: contain;
}


@media only screen and (max-width: 1300px) {
  .project {
    flex-flow: column;
    gap: 0;
  }

  .project-links {
    justify-content: center;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .project-links {
    flex-flow: column;
    gap: 0;
  }
  
}