.explore

    .possibilities
        font-size: 1.3rem
        letter-spacing: .2rem
        line-height: 2rem
        text-align: justify
        max-width: 700px
        margin: auto

        h2
            margin-block: 80px 20px

        p
            margin-block: 0 2rem

        button
            border-radius: 0
            padding: 20px
            text-transform: uppercase
            font-weight: 700

    .intermission
        margin-top: 50px
        padding: 1px 10px
        background-color: var(--background-inversion)
        color: var(--background-color)
        text-align: center
        padding: 15px 50px
        font-weight: 500
