.container
    margin: auto
    max-width: 900px
    padding: 30px
    text-align: center
    line-height: 180%

    button
        &:not(:first-child)
            background-color: black
            color: white
            padding: 18px

    .banner img
        max-width: 400px
        margin-bottom: 24px

    .divisor
        display: grid
        place-items: center

        >*
            padding: 30px

        p
            font-size: x-large

        a
            width: 100%
            text-align: center
            img
                max-width: 150px

        button
            background-color: #b00

        @media screen and ( min-width: 600px )
            display: flex
            align-items: center

    >button
        text-align: center
